---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

.summary {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid brown;
}
