---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

summary {
  color: $blue;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #ee0;
  display: inline-block;
  border-radius: 4px;
}

details[open] summary {
  margin-bottom: 6px;
}

details[open] {
  margin-bottom: 6px;
}

a.colab-root {
  display: inline-block;
  background: rgba(255, 255, 0, 0.75);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px!important;
  text-decoration: none;
  color: $blue;
  border: none;
  font-weight: 300;
  border: solid 1px rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  line-height: 16px;

  &:hover {
    color: #666;
    background: rgba(238, 238, 0, 1);
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  span {
    background-image: url(/assets/colab.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 2px;
    display: inline-block;
    padding-left: 24px;
    border-radius: 4px;
    text-decoration: none;
  } 
}

.request-feedback {
  border: 1px solid #bbb;
  background: #eee;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 35px;
  border-radius: 4px;

  .inner {
    margin-left: auto;
    margin-right: auto;
  } 
}

@media only screen and (min-width: 680px) {
  .request-feedback {
    .inner {
      width: 500px;
    }
  }
}
