---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

summary {
  color: $blue;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid brown;
  display: inline-block;
}

details[open] summary {
  margin-bottom: 6px;
}

details[open] {
  margin-bottom: 6px;
}

