<!DOCTYPE html>
<html>
    <head>
        <title>Depth First Learning</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/curriculums">Curriculums</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:depthfirstlearning@gmail.com">email</a></li>
            </ul>
        </footer>
    </body>
</html>
