<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <img class="nav-title" src="{{ "/assets/title-img.svg" | relative_url }} " width=158 height=89/>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Curriculums</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

  </body>
</html>
