---
layout: default
---

<div class="welcome">
  <div class="inner">
    <h2>Welcome to Depth First Learning!</h2>
    <p class="welcome-blurb">DFL is a compendium of curricula to help you deeply understand Machine Learning.</p>
    <p class="welcome-blurb">Each of our posts are a self-contained lesson plan targeting a significant research paper and complete with readings, questions, and answers.</p>
    <p class="welcome-blurb">We can guarantee that honestly engaging the material
    will leave you with a thorough understanding of the methods, background, and
    significance of that paper.</p>
    <p class="welcome-blurb">Want to stay up to date on future in-person or on-line DFL study groups? <a href="https://goo.gl/forms/hAJCMeGXxvUaJEeN2" target="_blank">Fill out this short form</a>.</p>

  </div>
</div>

    
<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p> {{ post.blurb | strip_html }} &nbsp; <span class="more-arrow">&#10233;</span> </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
