---
layout: default
---
{% assign author = site[page.author] %}



<div class="post">

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <div class="post-info">
    {% if page.authors %}
      <span>Written jointly by</span>
      {% comment %}
      This is a very hacky way to randomize the list of authors, every time the page is
      re-rendered. We use the current second of the timestamp at render time to choose
      a rotation of the author list.
      {% endcomment %}

      {% assign numAuthors = page.authors | size %}
      {% assign numAuthorsMinusOne = numAuthors | minus: 1 %}
      {% assign randomRot = "now" | date: "%S" %}
      {% for i in (0..numAuthorsMinusOne) %}
        {% assign j = i | plus: randomRot | modulo: numAuthors %}
        {% assign author_name = page.authors[j] %}
        {% assign one_author=site[author_name] %}
        <a href="{{ one_author.web }}" target="_blank">{{ one_author.name }}</a>
        {% if forloop.last == false %} and {% endif %}
      {% endfor %}
    {% elsif author %}
      <span>Written by</span>
      <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> 
    {% else %}
      <span>Written by</span>
      {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {% if page.feedback %}
  <div class="request-feedback">
    <div class="inner">
      Want to make DFL better?
      <br>
      We welcome <a href="https://github.com/deconstructed/deconstructed.github.io/issues">suggestions</a> and <a href="https://github.com/deconstructed/deconstructed.github.io/pulls">improvements</a>.
    </div>
  </div>
  {% endif %}

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
